.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  height: 14vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  border-bottom: 1px solid #353945;
  
  gap: 20%;
}

body{

  background-color: black;
}

footer{
  background-color: black;
  color: #777E90;
  /* position: sticky; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 93px;
  border-top: 1px solid #353945;
font-size: 12px;
line-height: 20px;

}

button{
  background-color: transparent;
  border: none;
}

.scroll-disabled{
  overflow: hidden;
  
}